extends layout

block content
  section#nec
    div.content-wrap
      .section-title
        span I work at
        h2
          a(href='http://studionec.com') Studio NEC
          small 2011 - Present
      .section-description
        p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci.

  section#aws
    div.content-wrap
      .section-title
        span Side Project
        h2
          a(href='http://androidwallpape.rs') Android Wallpape.rs
      .section-description
        p Idea behind this site is very simple. Provide a place where nice - and only nice - wallpapers live. I choose images based on my personal picky taste and on how they work with Android.
      
  section#drib
    div.content-wrap
      .section-title
        span Other stuff
        h2#drib-title
          a(href='http://dribbble.com/milosz') Dribbble
      .section-description
        p Turns out I mostly draw foxes.
    #dribbble-shots
      
  section#writing
    div.content-wrap
      .section-title
        span Thoughts &amp; Notes
        h2 Writing
      .section-description
        p nec
      
      
//  include author
//  each article in articles
//    article.article.intro
//      header
//        p.date
//          span= moment.utc(article.date).format('DD. MMMM YYYY')
//        h2
//          a(href=article.url)= article.title
//      section.content
//        !{ typogr(article.intro).typogrify() }
//        if article.hasMore
//          p.more
//            a(href=article.url) more
//  div.nav
//    if prevPage
//      a(href=prevPage.url) « Newer
//    else
//      a(href='/archive.html') « Archives
//    if nextPage
//      a(href=nextPage.url) Next page »



